<h1>New Task</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.list_task_path(@conn, :create, @list)) %>

<span><%= link "Back", to: Routes.list_task_path(@conn, :index, @list) %></span>
