<section class="phx-hero">
  <h1>Welcome to Bucky!</h1>
  <p>The bare-bone todo-list app that is unfortunately too simple to use.</p>
  <span><%= link "View your lists", to: Routes.list_path(@conn, :index) %></span>
</section>
